---
import Layout from "../layouts/Layout.astro";
import siteConfig from "../config/site.json";

import ListProjects from "../components/listProjects.astro";
const { company, contact, experience } = siteConfig;

import { Image } from "astro:assets";
import { ArrowUpRightIcon } from "@lucide/astro";
import { Button } from "@/components/ui/button";
---

<Layout title="Eduardo Calvo | UI Designer & Frontend Developer">
  <Fragment slot="left-content">
    <div class="flex w-full flex-col gap-6">
      <div class="flex items-center gap-3">
        <Image
          src={company.logo}
          alt={company.name}
          width="32"
          height="32"
          class="rounded-full"
        />
        <div class="flex items-center gap-2">
          <span class="relative flex size-2">
            <span
              class={`absolute inline-flex h-full w-full animate-ping rounded-full  opacity-75 ${company.status.available ? "bg-emerald-400" : "bg-red-400"}`}
            ></span>
            <span
              class={`relative inline-flex size-2 rounded-full ${company.status.available ? "bg-emerald-500" : "bg-red-500"}`}
            ></span>
          </span>

          <span class="text-xs font-medium text-gray-600">
            {company.status.text}
          </span>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <h1 class="text-balance font-semibold text-2xl">
          {company.name}
        </h1>
        <h2 class="text-balance font-normal text-2xl">
          {company.description}
        </h2>
        <p class="text-sm text-gray-500">{company.longDescription}</p>
      </div>
      <div class="flex items-center gap-3">
        <a href={contact.bookCall.url}>
          <Button>
            {contact.bookCall.text}
          </Button>
        </a>
        <a href={contact.chat.url} target="_blank">
          <Button variant="outline">
            {contact.chat.text}
          </Button>
        </a>
      </div>
      <div class="flex flex-col gap-4 w-full">
        {
          experience.map((exp) => (
            <div class="group border border-transparent flex items-center justify-between py-4 px-3 rounded-lg hover:bg-gray-50 transition-colors cursor-pointer hover:border-border">
              <div class="flex items-center gap-4">
                <div class="flex flex-col">
                  <h3 class="font-semibold text-sm text-gray-900 group flex gap-2 flex-row items-center">
                    {exp.company}
                    <ArrowUpRightIcon class="w-4 h-4 group-hover:flex hidden transition-transform" />
                  </h3>
                  <span class="text-xs text-gray-500 font-medium p-0.5 ">
                    {exp.year}
                  </span>
                  <p class="text-xs text-gray-500  tracking-wide">{exp.type}</p>
                </div>
              </div>
              <div class="text-right opacity-0 group-hover:opacity-100 transition-opacity">
                <div class="w-10 h-10 flex items-center justify-center">
                  <img src={exp.logo} alt={exp.company} class="w-8" />
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Fragment>
  <Fragment slot="right-content">
    <ListProjects />
  </Fragment>
</Layout>
